{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}


<h1>Edit a tag</h1>
<form method="POST" action="/tags/{{ tag.id }}/edit">
    <div class="row">
        <label for="name" class="col-form-label">Name</label>
        <div>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag" value="{{ tag.name }}">

        </div>
    </div>

    <div class="row">
        {% for post in posts %}
        <div>
            <input class="form-input" type="checkbox" vaue="{{ post.id }}"
                    id="post_{{ post.id }}" name="posts" 
                    {% if post in tag.posts %}
                    checked
                    {% endif %}
            >
            <label class="form-check-label" for="post_{{ post.id }}">
                {{ post.title }}
            </label>

        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div>
            <a href="/tags">Cancel</a>
            <button type="submit">Edit</button>
        </div>
    </div>
</form>

{% endblock %}
