<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Phone Numbers</title>
</head>
<body>
    <div class="container">
        <h1 class="display-1">Phone Numbers</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Employee</th>
                <th>Department</th>
                <th>Phone</th>
            </thead>
            <tbody>
                {% for emp in emps %}
                <tr>
                    <td>{{emp.name}}</td>
                    <td>{{emp.dept.dept_name}}</td>
                    {% if emp.dept.phone %}
                    <td>{{emp.dept.phone}}</td>
                    {% else %}
                    <td class="text-danger">NO PHONE</td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>